{% if page.url == "/" %}
  <footer class="sticky-bottom mt-5" role="contentinfo" style="margin: 0px; padding-top: 24px; padding-bottom: 26px;">
    <div class="container text-lower-case">
      <text class="text-sub-like">mmca&nbsp;&copy;</text> <text class="text-sub-like">{{ site.time | date: '%Y' }}&nbsp;</text>
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}" class="text-sub-like">imprint</a>
      {% endif %}
    </div>
</footer>
{% else %}
  {% if site.footer_fixed %}
    <footer class="fixed-bottom" role="contentinfo">
      {% if page.url == "/" %}
      <div class="container mt-0" style="margin-top:24px!important;">
      {% else %}
      <div class="container mt-0">
      {% endif %}
        &copy; Copyright {{ site.time | date: '%Y' }}
        {{ site.first_name }}
        {{ site.middle_name }}
        {{ site.last_name }}. {{ site.footer_text }}
        {% if site.impressum_path %}
          <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {% endif %}
        {% if site.last_updated %}
          Last updated: {{ 'now' | date: '%B %d, %Y' }}.
        {% endif %}
      </div>
    </footer>
  {% else %}
    <footer class="sticky-bottom mt-5" style="margin-top:24px!important;" role="contentinfo">
    {% if site.newsletter.enabled %}
        {% include scripts/newsletter.liquid %}
    {% endif %}
      <div class="container text-lower-case">
        {{ site.first_name }}
        {{ site.middle_name }}
        {{ site.last_name }}
        {{ site.footer_text }}
        <text class="text-sub-like">&copy;</text> <text class="text-sub-like">{{ site.time | date: '%Y' }}</text>
        {% if site.impressum_path or site.last_updated %}
          <br>
        {% endif %}
        {% if site.impressum_path %}
          <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}" class="text-sub-like">imprint</a>
        {% endif %}
        {% if site.last_updated %}
          <text class="text-sub-like">(last updated {{ 'now' | date: '%d.%m.%y' }})</text>
        {% endif %}
      </div>
    </footer>
  {% endif %}
{% endif %}