{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    {% if page.url == "/" %}
    <div class="container mt-0" style="margin-top:24px!important;">
    {% else %}
    <div class="container mt-0">
    {% endif %}
      &copy; Copyright {{ site.time | date: '%Y' }}
      {{ site.first_name }}
      {{ site.middle_name }}
      {{ site.last_name }}. {{ site.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
    </div>
  </footer>
{% else %}
  {% if page.url == "/" %}
  <footer class="sticky-bottom mt-5" role="contentinfo" style="margin-top:24px!important;">
  {% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo" >
  {% endif %}
  {% if site.newsletter.enabled %}
      {% include scripts/newsletter.liquid %}
    {% endif %}

    <div class="container text-lower-case">
      <text class="text-sub-like">&copy;</text> Copyright <text class="text-sub-like">{{ site.time | date: '%Y' }}</text>
      {{ site.first_name }}
      {{ site.middle_name }}
      {{ site.last_name }}
      {{ site.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%B %d, %Y' }}
      {% endif %}
    </div>
  </footer>
{% endif %}
