---
layout: default
---

<style>
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .container {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
    }
    .footer {
      padding-top: 6px;
      padding-bottom: 8px;
      white-space: pre-line!important;
    }
    .mt-5 {
      margin-top: 0px!important;
    }
</style>

<div class="spacer">
  <div class="post">
    <header class="post-header about-header">
    {% comment %}
      <h1 class="post-title">
        {% if site.title == 'blank' %}
          <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
          {{ site.last_name }}
        {% else %}
          {{ site.title }}
        {% endif %}
      </h1>
    {% endcomment %}
      <h2 class="desc" style="margin-top: 0px; margin-bottom: 12px;">{{ page.subtitle_line_1 }}<br>{{ page.subtitle_line_2 }}<br>{{ page.subtitle_line_3 }}</h2>
    </header>
  </div>
</div>

  <script src="{{ '/assets/js/canvas-nest.js' | relative_url }}"></script>
{% comment %} 
  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-margin img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-margin img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix text-justify-last-left">{{ content }}</div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %} {% endcomment %}
  </article>
</div>
